@tailwind base;
@tailwind components;
@tailwind utilities;

* {font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.map-container {
    width: 402px;
    height: 218px;
    border-radius: 0 0 8px 8px;
  }
